.Error{
  width: 100%;
  background: red;
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
}